.search-container {
  position: relative;
  padding: 1rem;
}

.search-input {
  margin-right: 1rem;
}

.select-container {
  width: 40%;
}

@media (max-width: 768px) {
  .select-container {
    width: 100%;
  }
} 

