@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.blue {
  color: hsla(204, 100%, 50%, 1);
}

a,
.light-blue {
  text-decoration: none;
  color: #00bfff;
  transition: 0.4s;
}

input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-common {
  background-color: hsla(204, 100%, 50%, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-common:hover {
  background-color: rgb(0, 130, 216);
}

.btn-table {
  color: hsla(204, 100%, 50%, 1);
  background-color: transparent;
  border: solid 1px hsla(204, 100%, 50%, 1);
  display: inline-block;
  margin: 4px;
  padding: 0.4rem;
  cursor: pointer;
  font-size: 16px;
}

.table-common {
  border-collapse: collapse;
  min-width: 40%;
}

.table-common th,
.table-common td {
  border: 1px solid #ddd;
  padding: 0.4rem;
  text-align: left;
}

.table-common th {
  background-color: #2b2b2b;
  font-weight: 500;
  color: #fff;
}

.table-common td {
  font-weight: 500;
}

.table-common tr:hover td:not(.acoes) {
  background-color: #fffb00;
}

.acoes {
  justify-content: center;
  align-items: center;
}

.table-div {
  overflow-x: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: left;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(204, 100%, 50%, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  /* Apply styles to the table when the screen width is less than or equal to 768px */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .acoes {
    display: flex;
    flex-direction: row;
  }
  
  .btn-table {
    margin: 4px;
  }
}
